body{
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.nav-link{
    color: rgb(13, 13, 13);
    font-weight: 500;
}

.lihov .nav-link{
    padding: 10px 15px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lihov .nav-link:hover{
    background-color: rgb(106, 131, 255);
    color: white;
}

.contact-options {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
}

.contact-box video {
    flex: 1;
    padding: 20px;
    background-color: white;
    text-align: center;
}
section {
    background-color: green;
    padding: 30px;
    border-radius: 20px;
    margin: 80px;
    height:40vh;
}

section h2 {
    font-size: 35px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.modal-body {
    width: 100%;
    position: relative; 
    display: flex;
    padding: 30px;
    
}

.modal-body input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
}

